@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  src: local('Myriad Pro Regular'), local('MyriadPro-Regular'), url(https://mriklojn.github.io/test-page/Myriad Pro Regular.ttf) format('ttf');
}

:root {
  --bg-color-main: #000;
  --border-focus: 3px solid #cce;
  --border-main: 3px solid #444;
  --monospace: "Source Code Pro", "Courier New", "Courier", monospace;
  --sans-serif: "Myriad Pro", "Helvetica", "Arial", sans-serif;
  --text-color: #ddd;
}

.reg-output {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 47.5% 47.5%;
  grid-template-rows: 6rem;
}

body {
  background-color: var(--bg-color-main); 
  color: var(--text-color);
  font-family: var(--sans-serif);
  font-size: 14pt;
}

h1, h2 {
  color: #fff;
}

h2 {
  font-size: 24pt;
}

h1 {
  font-size: 30pt;
}

summary > h2 {
  display: inline;
}

.text, hr {
  border: var(--border-main);
  background-color: var(--bg-color-main);
}

.text, button {
  background-color: var(--bg-color-main);
  border-radius: 0.5rem;
  font-family: var(--monospace);
  font-size: 2rem;
  min-width: 5rem;
  outline: none;
  overflow: hidden;
  padding: 1rem;
  resize: none;
  transition: 0.75s;
  vertical-align: middle;
  white-space: pre-wrap;
}

.text:focus {
  border: var(--border-focus);
}

.reg-output * {
  display: block;
  height: 100%;
  margin: auto;
  width: 100%;
}

hr {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

a:link, a:visited {
  color: #ff7000;
  text-decoration: underline;
}

a:hover {
  color: #cc5a00;
}

button {
  border: var(--border-main);
  color: var(--text-color);
  font-family: var(--sans-serif);
}

button:active {
  background-color: #222;
}

button:focus {
  border: var(--border-focus);
}

button::-moz-focus-inner {
  outline: 0;
}

input {
  color: var(--text-color);
}

nav > a {
  padding: 16px 32px;
  outline: 0;
  margin: 0;
  border: 0;
  font-size: 166%;
  background-color: #222;
  display: block;
  width: 1fr;
}

nav > a:hover {
  background-color: #111;
}

nav > a:link, nav > a:visited {
  text-decoration: none;
}

nav {
  display: flex;
  background-color: #222;
  position: absolute;
  top: 0px;
  left: 0px;
}
