table {
  margin-left: auto;
  margin-right: auto;
  border: 0px solid #444;
  background-color: #000;
  border-collapse: collapse;
}

td {
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-size: 2em;
  text-align: center;
  border: 3px solid #444;
  padding: 0;
  width: 2em;
  height: 2em;
}

.info {
  padding: 1rem 2rem 2rem;
  font-size: 2em;
  font-weight: 700;
  text-align: right;
}