table {
  background-color: #000;
  border-collapse: collapse;
  border: 0px solid #444;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 3px solid #444;
  font-family: var(--monospace);
  font-size: 2em;
  height: 2em;
  padding: 0;
  text-align: center;
  width: 2em;
}

.info {
  font-size: 2em;
  font-weight: 700;
  padding: 1rem 2rem 2rem;
  text-align: right;
}