table {
  border-collapse: collapse;
  border: 3px solid #444;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 3px solid #444;
  font-family: var(--monospace);
  font-size: 3rem;
  text-align: center;
}

button {
  font-family: var(--sans-serif);
  font-size: 2em;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
}